body {
  margin: 0;
  background: darkgray;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
#verticalbtn {
  display: flex;
  flex-direction: column;
}
button {
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: crosshair;
}
button:hover {
  background: blue;
}
#networkCanvas {
  background: black;
  font-family: ui-rounded;
}
#carCanvas {
  background: lightgray;
}
